{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <a href="#" class="navbar-brand">Katana</a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="https://pm1.narvii.com/6640/1b4325a362ccc159328e0f5fdd33b20f117e7e0c_hq.jpg" alt="goku"
                        class="profile-img">
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock content %}